<h1>Qualificacao para o restaurante <%= @qualificacao.restaurante.nome %></h1>

A qualificacao foi feita pelo <%= @qualificacao.cliente.nome %>.

<h2>Qualificacao</h2>
Nota: <%= @qualificacao.nota %>
Valor gasto: <%= @qualificacao.valor_gasto %>
